main {
    height: 100vh;
    background-color: #f7f7f7;
}

.login-card {
    width: 30%;
    background-color: #fff;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, .2);
    padding: 10px;
}

.input-card {
    /* background-color: #856321; */
    width: 100%;
}

.form-group {
    /* background-color: #45489a; */
    width: 90%;
}

.input-container {
    /* border: 2px solid #45489a; */
    border-radius: 3px;
    background-color: #d8d9eb;
    /* background-color: #fff; */
    width: 100%;
    padding: 5px;
    height: 47px;
}

.input-icon {
    padding-left: 10px;
    font-size: 18px;
    color: #5a5a5a;
}

.input-field {
    width: 85%;
    border: 0px;
    background-color: transparent;
}

.input-field:focus {
    outline: none;
}

.forget-password-container {
    width: 100%;
}

.error-container {
    width: 90%;
}

.remenber-me-container {
    width: 90%;
}

.card-1 {
    padding: 25px;
    background-color: #fff;
    height: 100px;
    width: 48%;
    border-radius: 5px;
    /* box-shadow: 3px 3px 6px rgba(0, 0, 0, .2); */
}

.card-2 {
    padding: 25px;
    background-color: #fff;
    height: 100px;
    width: 31%;
    border-radius: 5px;
    /* box-shadow: 3px 3px 6px rgba(0, 0, 0, .2); */
}

.card-3 {
    padding: 10px;
    background-color: #fff;
    width: 20%;
    /* height: 50px; */
    border-radius: 5px;
}

.card-1:hover,
.card-2:hover,
.card-3:hover {
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .2);
}

.card-label:hover {
    border-bottom: 1px solid #f13226;
}